{% extends 'base.html.twig' %}

{% block title %}Классификатор{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block body %}
    <h1>Выбор признаков для классификации</h1>

    <form action="{{ path('classifier_features') }}" method="post">
        <div class="container">
            <ul class="ks-cboxtags">
                {% for feature in features %}
                    <li>
                        <input type="checkbox" id="{{ feature.id }}" value="{{ feature.id }}" class="checkbox" name="features[]">
                        <label for="{{ feature.id }}">{{ feature.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <input hidden name="submit">
        <input type="submit" value="Классифицировать" class="nav">
        <input type="button" value="Выбрать все" class="nav" id="selectAll">
        <input type="button" value="Убрать все" class="nav" id="unselectAll">
    </form>

    <div class="white_space">.</div>
    <a href="{{ path('classifier') }}" class="nav">Отмена</a>
    <script src="/assets/js/select.js"></script>
{% endblock %}
