{% extends 'base.html.twig' %}

{% block title %}Редактор значений признаков для жанров{% endblock %}

{% block body %}
    <h1>Редактор значений признаков для жанров</h1>

    {% if genre %}
        <form action="{{ path('value_of_feature_index') }}" method="post">
            <div class="select">
                <select name="select" required class="select">
                    <option value="{{ genre.id }}"> {{ genre }}</option>
                    {% for otherGenre in genres %}
                        {% if otherGenre != genre %}
                            <option value="{{ otherGenre.id }}">{{ otherGenre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="submit">
            <input type="submit" value="Выбрать" class="nav">
            <div class="white_space">.</div>
        </form>

        {% include 'value_of_feature/table.html.twig' with {
            genre: genre,
            valueOfFeature: valueOfFeature
        } %}
    {% else %}
        <form action="{{ path('value_of_feature_index') }}" method="post">
            <div class="select">
                <select name="select" required>
                    <option selected disabled>Выберите жанр</option>
                    {% for otherGenre in genres %}
                        <option value="{{ otherGenre.id }}">{{ otherGenre }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="submit">
            <input type="submit" value="Выбрать" class="nav">
            <div class="white_space">.</div>
        </form>
    {% endif %}

    <div class="white_space">.</div>

    <a href="{{ path('admin') }}" class="nav">Вернуться назад</a>
{% endblock %}
