{% extends 'base.html.twig' %}

{% block title %}Редактор значений признаков для жанра{% endblock %}

{% block body %}
    <h1>Добавление значения признака "{{ value_of_feature.feature }}" для жанра "{{ value_of_feature.genre }}"</h1>

    <form action="{{ path('value_of_feature_new', {
        'genre': value_of_feature.genre,
        'feature': value_of_feature.feature
    }) }}" method="post">
        {% if value_of_feature.feature.type == 0 %}
            <label> Тип признака
                <input type="text" value="Качественный признак" disabled>
            </label> <br>
            <label> Значение качественного признака <br>
                {% for value in possible_values %}
                    <input type="checkbox" class="value" name="values[]" value="{{ value }}"> {{ value }} <br>
                {% endfor %}
            </label> <br>
        {% else %}
            <label> Тип признака
                <input type="text" value="Количественный признак" disabled>
            </label> <br>
            <label> Значение количественного признака [
                <input type="number" min="{{ possible_values[0] }}" max="{{ possible_values[1] }} " name="min" required>
                -
                <input type="number" min="{{ possible_values[0] }}" max="{{ possible_values[1] }}" name="max" required>
                ]
            </label> <br>
        {% endif %}
        <input hidden name="submit">
        <input type="submit" value="Сохранить">
    </form>

    <a href="{{ path('value_of_feature_index') }}">Назад к редактору</a>
{% endblock %}
