{% extends 'base.html.twig' %}

{% block title %}Редактор возможных значений{% endblock %}

{% block body %}
    <h1>Редактирование возможного значения</h1>

    <form action="{{ path('possible_value_edit', {'id': possible_value.id}) }}" method="post">
        <label> Признак
            <input type="text" value="{{ possible_value.feature }}" disabled>
        </label> <br>
        {% if possible_value.feature.type == 0 %}
            <label> Тип признака
                <input type="text" value="Качественный признак" disabled>
            </label> <br>
            <label> Значение качественного признака <br>
                {% for value in values %}
                    <br> <input type="text" class="value" name="values[]" value="{{ value }}" required>
                    <input type="button" class="del" value="-">
                {% endfor %}
                <input type="button" id="add" value="+">
            </label> <br>
        {% else %}
            <label> Тип признака
                <input type="text" value="Количественный признак" disabled>
            </label> <br>
            <label> Значение количественного признака [
                <input type="number" min="0" name="min" value="{{ values[0] }}" required>
                -
                <input type="number" min="0" name="max" value="{{ values[1] }}" required>
                ]
            </label> <br>
        {% endif %}
        <input hidden name="submit">
        <input type="submit" value="Сохранить">
    </form>

    <a href="{{ path('possible_value_index') }}">Назад к редактору</a>

    {{ include('possible_value/_delete_form.html.twig') }}
    <script src="/assets/js/possibleValue.js"></script>
{% endblock %}
