{% extends 'base.html.twig' %}

{% block title %}Редактор возможных значений{% endblock %}

{% block body %}
    <h1>Редактор возможных значений</h1>

    <table class="table" border="2">
        <thead>
        <tr>
            <th>Название признака</th>
            <th>Возможное значение</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td>{{ feature }}</td>
                <td>{{ feature.possibleValue }}</td>
                <td>
                    {% if feature.possibleValue is null %}
                        <a href="{{ path('possible_value_new', {'feature_id': feature.id}) }}">Добавить</a>
                    {% else %}
                        <a href="{{ path('possible_value_edit', {'id': feature.possibleValue.id}) }}">Редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="white_space">.</div>

    <a href="{{ path('admin') }}" class="nav">Вернуться назад</a>
{% endblock %}
